body {
    font-family: "MontserratSemiBold" !important;
}

#superin-body ul a {
    font-family: "MontserratRegular" !important;
    font-size: 14px;
}

.monthly-gas-table table tr th {
    font-size: 12px;
}

.monthly-gas-table table tr td {
    font-size: 12px;
}

footer {
    background-color: #1F4690;
    margin-top: auto;
}