body {
    font-family: "MontserratSemiBold" !important;
}

#sidebar {
    width: 35%;
}

.container-sm div nav {
    position: absolute;
    top: 8%;
    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 20%);
    margin-left: 0%;
    min-height: 100%;
    margin-right: 50%;
}